* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar start */
.navbar {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 13px 10px #dad7d7;
}

.nav-left {
    display: flex;
}

.nav-left img {
    padding-right: 12px;
    width: 80px;
    height: 34px;
}

.gamer-g {
    color: #ff42a5;
}

.nav-right ul {
    display: flex;
    list-style: none;
}

.nav-right ul li {
    padding-right: 23px;

}

.nav-right ul li a {
    text-decoration: none;
}

.follow-us {
    background-color: #e6e5e7;
    ;
    padding: 7px 12px;
    border-radius: 6px;
}

.fa-youtube {
    padding: 4px;
    color: red;
}

/* Navbar End */


/* 1st play ground start */
.play-container {
    background-color: #fdf7fd;
}

.play-ground {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    
}

.play-goad {
    width: 48%;
    margin-top: 45px;
}

.play-goad h2 {
    padding: 12px 1px;
}

.play-goad h1 {
    padding: 12px 1px;
    /* background-image: linear-gradient(45deg, #d94cc3, #a254e2); */

    background: linear-gradient(to top, #d94cc3, #a254e2,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.play-goad p {
    padding: 2px 1px;
   
}

/* .play-card {
    width: 40%;
} */

.play-card img {
    width: 320px;
    background-color: white;

}
.sign-in, .go-rogue {
    background-color: #ff42a5;
    padding: 7px 17px;
    border: none;
    border-radius: 23px;
    margin-top: 12px;
    color: white;
}
.go-rogue {
    background-color: #4ec5f7;
    padding: 7px 17px;
    border: none;
    border-radius: 23px;
    margin-top: 12px;
    color: white;
}
/* 1st play ground end */
/* 2nd play ground start */
.play-container-2 {
    display: flex;
    justify-content: space-evenly;
}
.play-left img {
    width: 650px;
}
.play-right {
    width: 300px;
    margin-top: 55px;
    text-align: end;
}
.play-right h1 {
   padding: 12px;
   background: linear-gradient(to top, #d94cc3, #a254e2,
   #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.play-right p {
   padding:11px;
}
.play-right h3 {
   padding:11px;
}
/* 2nd play ground end */
/* Online Games part start */
.online-game-heading {
    margin-top: 50px;
    text-align: center;
}
.online-game-heading p {
    margin-top: 12px;
    
}
.funny-videos {
    background: linear-gradient(to top, #d94cc3, #a254e2,
   #cf23cf, #eedd44);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.card-1 img {
    width: 200px;
    height: 250px;
    margin-top: 20px;
    padding: 5px;
    margin-left: 34px;
}
.card-1 img:hover {
   background-color: #4ec5f7;
   border: 2px solid red;
   cursor: pointer;
}
.card-1 p {
  font-size: 13px;
  width: 180px;
  padding: 5px;
  margin-left: 45px;
}
.online-game-card {
    display: flex;
    width: 980px;
    margin: 0px auto;    
}

/* Online Games part End */










/* Media Quary Start From Here Start */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        height: auto;
    }

    .nav-right ul {
        flex-direction: column;
        text-align: center;
        margin: 23px 1px;
    }

    .nav-right ul li {
        margin: 13px 2px;
    }
/* 1st play ground start */
    .play-ground {
       
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        
    }
    .play-goad h2 {
        font-size:20px;
        margin-top: 25px;
    }
    .play-goad p {
        padding: 12px;
        text-align: center;
        margin-left: 0px;
    }
/* 1st play ground end */
/* 2st play ground start */
.play-container-2 {
    flex-direction: column;
}
.play-right {
    margin-left: 74px;
    text-align: center;
}
.play-left img {
    width: 450px;
    margin-top: 74px;
    padding-right: 22px;    
}
/* 2st play ground end */
/* Online Games section start */
.online-game-card {
   flex-direction: column; 
     
}
.card-1 img{
    margin-left: 110px;
}
.card-1 p {
    margin-left: 100px;
}
.online-game-heading p {
    margin-top: 5px;
    font-size: 14px;
    
}
.online-game-heading h1 {
    font-size: 24px;
    
}

/* Online Games section End */
}




/* Media Quary End From Here End */