* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar start */
.navbar {
    width: 100%;
    height: 100px;
    flex-shrink: 0;
    /* border: 3px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 13px 10px #dad7d7;
}

.nav-left {
    display: flex;
}

.nav-left img {
    padding-right: 12px;
    width: 80px;
    height: 34px;
}

.gamer-g {
    color: #ff42a5;
}

.nav-right ul {
    display: flex;
    list-style: none;
}

.nav-right ul li {
    padding-right: 23px;

}

.nav-right ul li a {
    text-decoration: none;
}

.follow-us {
    background-color: #e6e5e7;
    ;
    padding: 7px 12px;
    border-radius: 6px;
}

.fa-youtube {
    padding: 4px;
    color: red;
}

/* Navbar End */


/* 1st play ground start */
.play-container {
    background-color: #fdf7fd;
}

.play-ground {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    
}

.play-goad {
    width: 48%;
}

.play-goad h2 {
    padding: 12px 1px;
}

.play-goad h1 {
    padding: 12px 1px;
    /* background-image: linear-gradient(45deg, #d94cc3, #a254e2); */

    background: linear-gradient(to top, #d94cc3, #a254e2,
            #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.play-goad p {
    padding: 2px 1px;
   
}

/* .play-card {
    width: 40%;
} */

.play-card img {
    width: 320px;

}
.sign-in, .go-rogue {
    background-color: #ff42a5;
    padding: 7px 17px;
    border: none;
    border-radius: 23px;
    margin-top: 12px;
    color: white;
}
.go-rogue {
    background-color: #4ec5f7;
    padding: 7px 17px;
    border: none;
    border-radius: 23px;
    margin-top: 12px;
    color: white;
}



/* 1st play ground end */










/* Media Quary Start From Here Start */
@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
        justify-content: center;
        margin-top: 30px;
        height: auto;
    }

    .nav-right ul {
        flex-direction: column;
        text-align: center;
        margin: 23px 1px;
    }

    .nav-right ul li {
        margin: 13px 2px;
    }
    /* 1st play ground start */
    .play-ground {
       
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        
    }
    .play-goad h2 {
        font-size:20px;
        margin-top: 25px;
    }
   

    /* 1st play ground end */
}




/* Media Quary End From Here End */